 .borderbox{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.header--container{
	/*height: 65%;*/
	height: 60px;
	text-align: left;
	font-size: 30px;
	background-color: black;
	color: white;
	/*line-height:65%;*/
	font-weight: bold;
	margin: 0 0px;
}
.header--title{
	font-size: 30px;
	color: white;
	float: left;
	padding: 10px 15px;
	height: 100%;
	margin-right: 30px;
}  
.header--menu{
	height: 60px;
	margin: 0 20px;
	float: right;
	width: 20%;
	/*height: 100%;*/
	position: absolute;
	right: 0;
	top: 0;
}

/* nav bar */
.header--navgroup{
	list-style-type: none;
 	margin: 0;
 	height: 100%;
 	width: 100%;
}
.header--navbar{
	height: 100%;
	width: 100%;
}
.header--navli{
	height: 100%;
	float: left;
	padding: 0px 10px;
	width: 50%;
}
.header--navitem{
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: 300;
	/*display: flex;
    align-items: center;*/
    display: block;
    text-align: center;
}
.header--navitem:hover{
	cursor: pointer;
	border-bottom: 3px solid grey;
}

.header--item-link{
	display: inline-block;
	padding: 19px 0px;
	box-sizing: border-box;
	color: white;
	height: 100%;
}
/*.header--item-link:hover{
	cursor: pointer;
	border-bottom: 3px solid black;
}*/
.header--navigation-menu{
	 position: absolute;
	 top: 60px;
	 background-color: #eee;
	 font-size: 15px;
	 z-index: 1;
	 width: 100%;
	 height: calc(100% - 60px);
	 overflow: hidden;
	 box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}

.brand-menu-link{
	margin: 15px ;
}

#naviMenu {
    padding: 20px;
}

#naviMenu .fade.in {
    animation-name: fadeIn;
}

#naviMenu .fade.out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(startYposition);
    } 
    100% {
        opacity: 1;
        transform: translateY(endYposition);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        transform: translateY(endYposition);
    }
}