.header-searchbar{
	height: 45px;
	width: 50%;
	padding: 0 30px;
	font-size: 20px;
}
.header-searchbar-container{
	height: 60px;
	padding: 8px 0px;
	position: absolute;
	left: 400px;
	width: 100%;
}
.header-search-icon{
	height: 60px;
	position: absolute;
	left: 7px;
	bottom: 0px;
	color: black;
	font-size: 18px;
}

