.header-searchbar{
	height: 30px;
	width: 50%;
}
.header-searchbar-container{
	height: 60px;
	padding: 4px 0px;
	position: absolute;
	left: 400px;
	width: 100%;
}
.header-search-icon{
	height: 60px;
	position: absolute;
	left: 7px;
	bottom: 1px;
	color: black;
	font-size: 18px;
}
